.mainContainer {
  //box
  height: 314px;
  width: 210px;
  border-radius: 10px;
  background: #f6f7f8;
}
.photoContainer {
  //box
  height: 140px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  position: relative;

  .coverPhoto {
    width: 100%;
    // object-fit: cover;
  }

  outline: 1px solid violet;
}
.avatarContainer {
  position: absolute;
  top: 64px;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #FFF;

  .avatar {
    ///box
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  ///box
  height: 174px;
  margin: 36px 26px 24px 26px;

  .name {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
  }
  .account {
    font-size: 14px;
    line-height: 22px;
    color: #6c757d;
  }

}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 24px;

  .icon {
    width: 24px;
    height: 24px;
  }
  
  .count {
    font-weight: 500;
  }
}


.followContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 9px;
  width: 158px;

  .followNum {
    line-height: 22px;
    
  }
  .followType {
    line-height: 22px;
    color: #6c757d;
  }
}



