.suggestUserItem {
    width: 350px;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E6ECF0;
    margin-bottom: 10px;

    .userWrapper {
        display: flex;

        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #c4c4c4;
            margin: 0 10px 10px 15px;
        }

        .userInfo {
            display: flex;
            flex-direction: column;
            margin: 8px 0 19px 0;
            font-size: 15px;
            font-weight: 700;
            line-height: 15px;
        
            .userName {
                color: #1c1c1c;
                margin-bottom: 3px;
            }
            
            .userAccount {
                color: #657786;
            }
        }
    }

    .followButton {
        width: 95px;
        margin-right: 15px;
        display: flex;
        justify-content: end;
    
        button {
            height: 35px;
            padding: 10px 15px;
            border-radius: 100px;
            font-size: 15px;
            font-weight: 700;
            line-height: 15px;
            outline: none;
            border: none;
            cursor: pointer;
        }
    
        .following {
            background-color: #FF6600;
            color: #fff;
        }
    
        .unfollow {
            background-color: transparent;
            color: #FF6600;
            border: 1px solid #FF6600;
        }
    }
}