.extraLarge {
  //
  padding: 8px 24px;
  border-radius: 50px;
  border: 1px solid #ff6600;
  background-color: #ff6600;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Noto Sans TC';

  //box
  height: 46px;
  width: 320px;
  //font
  font-size: 20px;
}