.container {
display: flex;
flex-direction: row;

// 中間區塊
  .timeline {
    width: 415px;
    border-left: 1px solid #E6ECF0;
    border-right: 1px solid #E6ECF0;
  }

  .onlineUserContainer {
    display: flex;
    justify-content: center;
    border-top: 1px solid #E6ECF0;
    padding-top: 10px;
  }
  
}


