.chatRoomContainer {
  height: 100vh;
  display: flex;
  width: 1140px;
}

// .onlineuserContainer {
//   display: flex;
//   justify-content: center;
// }


// 中間區塊
.timeline {
  width: 415px;
  border-left: 1px solid #E6ECF0;
  border-right: 1px solid #E6ECF0;
}