.cardWrapper {
    width: 245px;
    height: 314px;
    background: #F6F7F8;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    position: relative;

    .coverPhoto {
        height: 140px;
        background-color: #C4C4C4;
        border-radius: 10px 10px 0 0;
    }

    .userAvatar {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 68px;
        left: 73.5px;
        right: 73.5px;

        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #C4C4C4;
            border: 4px solid #fff;
        }
    }

    .cardFooter {
        display: flex;
        flex-direction: column;
        margin-top: 38px;
        gap: 15px;

        .userInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 15px;
            line-height: 22px;
            text-align: center;

            .userName {
                color: #1C1C1C;
                font-weight: 900;
            }

            .userAccount {
                color: #657786;
                font-weight: 500;
            }
        }

        .action {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
                margin-right: 5px;
            }

            span {
                font-size: 15px;
                font-weight: 500;
                line-height: 15px;

                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }

        .followInfo {
            display: flex;
            justify-content: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: #657786;

            span{
                font-weight: 500;
                color: #000000;

                &:not(:first-child) {
                    margin-left: 5px;
                }
            }

        }
    }
}