.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .title {
        font-weight: 700;
        font-size: 19px;
    }

    .saveButton {
        width: 66px;
        height: 28px;
        background-color: #FF6600;
        border-radius: 100px;
        color: #fff;
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.userWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15px;
    

    .coverPhoto {
        height: 200px;
        background-color: #aaa;
        margin: 0 1px;
				width: 100%;
				object-fit: cover;
				z-index: 0;
    }
		.photoIcon {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: 30px;
			margin-top: 88px;
			left: 45%;
			z-index: 1;

			.uploadIcon,
			.cancelIcon {
				width: 24px;
				height: 24px;
			}
		}

    .userAvatar {
        position: absolute;
        top: 140px;
        left: 14px;

        .avatar {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: #C4C4C4;
            border: 4px solid #fff;
        }

        .uploadIcon {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50px;
            left: 50px;
        }
    }

    .userEditInfo {
        display: flex;
        flex-direction: column;
        padding: 80px 15px 0 15px;
    }

}
.uploadIcon, .cancelIcon {
    cursor: pointer;
}

.fileInput {
    display: none;
}