.container {
  // display
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;

  //box size
  height: 150px;
  width: 100%;
  border-radius: 2px;
  //color
  background-color: #f5f8fa;
}

.label {
  //display
  display: flex;
  align-items: center;
  //box size
  height: 30px;
  padding: 0 10.5px;
  //text
  color: #696974;
  font-size: 14px;
}

.textarea {
  //box
  display: flex;
  border: none;
  height: 100%;
  padding: 0 10.5px;
  border-radius: 2px;
  border-bottom: 2px solid #657786;
  //text
  font-size: 16px;
  line-height: 26px;
  //color
  background-color: #f5f8fa;

  &.active {
    border-color: #fc5a5a;
  }

  &:hover,
  &:focus {
    border-color: #50b5ff;
    outline: none;
  }
}

.noteContainer {
  //display
  display: flex;
  justify-content: space-between;
  // align-items: center;
  //box
  height: 24px;
  padding-top: 4px;
}

.notification {
  //display
  align-items: center;
  visibility: hidden;
  //text
  align-items: center;
  font-size: 12px;
  color: #696974;

  &.activeText::after {
    visibility: visible;
    color: #fc5a5a;
    content: "字數超出上限!"
  }

  &.active {
    visibility: visible;
    color: #fc5a5a;
  }
}

.length {
  //display
  align-items: center;
  visibility: hidden;
  //text
  align-items: center;
  font-size: 12px;
  color: #696974;

  &.active {
    visibility: visible;
  }

  &.limit {
    color: #fc5a5a;
  }
}