.navbar {
    position: sticky;
    display: flex;
    align-items: center;
    height: 51px;
    margin-top: 24px;
    

    .title {

        color: #1C1C1C;
        font-weight: 700;
        font-size: 24px;
        margin-left: 24px;
        display: flex;
        justify-content: flex-start;
        align-self: start;
    }

    .backButton {
        width: 23px;
        height: 24px;
        margin: 15px;
        margin-right: 26px;
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            width: 100%;
        }
    }
}