.userList {
  width: 1025px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px 22px 0 15px;
}

.deleteButton {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.tweetContent {
  display: flex;
}